.vs/CefCoreNet/
CefAdapter.Browser/Release/
CefAdapter.Renderer/Release/
CefAdapter/bin/
CefAdapter/obj/
CefAdapter/.vs/
Samples/Simple/bin/
Samples/Simple/blob_storage/
Samples/Simple/debug.log
Samples/Simple/obj/
Samples/Simple/webrtc_event_logs/
packages/
Dependencies/
Debug/
GPUCache/
CMakeFiles/
libcef_dll_wrapper/
build/
.vs/
CMakeCache.txt
Makefile
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log0

*.cmake